<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ request.session.first_name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/styles.css' %}" />
</head>
<body>
    <h2>Welcome {{ request.session.first_name }} {{ request.session.last_name }}</h2>
    <fieldset>
        <table>
            {% if messages.tag == sucesses %}
            <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <ul>
                <p><b>Your information</b></p>
                <p>Name: {{ request.session.first_name }} {{ request.session.last_name }}</p>
                <p>Email: {{ request.session.email }}</p>
                <p>Username: {{ request.session.username }}</p>
                <p>Password: <a href="/log_out/">Click here to see it.</a></p>
            </ul>
            <a class="logout" href="/log_out">Log Out?</a>
        </table>
    </fieldset>

    <fieldset>
    <h2>People Who Poked You!</h2>
            <ul>
            {% for poke in poked_me %}
                <li> {{ poke.poke_owner.first_name }} {{ poke.poke_owner.last_name }} has poked you {{ poke.counter }} times!</li>
            {% endfor %}
            </ul>
    </fieldset>
    <div class="right">
        <h1>People you may want to poke</h1>
        <table>
            <tr class="messages">
                <th>Name:</th>
                <th>Alias:</th>
                <th>Email:</th>
                <th>Pokes:</th>
                <th>Action:</th>
            </tr>
            {% for user in poked_users %}
                <tr>
                <td>{{ user.poked.first_name }} {{ user.poked.last_name }} </td>
                <td>{{ user.poked.username }} </td>
                <td>{{ user.poked.email }} </td>
                <td>{{ user.counter }} </td>
                <td><form action="/poke/{{ user.poked.id }}/" method="post">{% csrf_token %}
                <input type="hidden" name="poke" value="{{ user.poked.id }}">
                <input type="submit" value="Poke"></form></td>
            {% endfor %}
            {% for user in users %}
                </tr>
                <tr>
                <td>{{ user.first_name }} {{ user.last_name }} </td>
                <td>{{ user.username }} </td>
                <td>{{ user.email }} </td>
                <td>{{ user.pokes }} </td>
                <td><form action="/poke/{{ user.id }}/" method="post">{% csrf_token %}
                <input type="hidden" name="poke" value="{{ user.id }}">
                <input type="submit" value="Poke"></form></td>
            {% endfor %}
                </tr>



        </table>
    </div>
{#    <a href="/login">Return to add page</a><br><br>#}

</body>
</html>